@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100%;
    position: relative;
}

.loadr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    margin-top: 20%;

}

.loadr .spinner {
    animation: load 1s infinite linear;
    color: white;
}

.card.rank-1 {
    background-color: #FFD700; /* Gold */
    animation: shine 2s infinite linear;
    animation-play-state: paused; /* Pause the animation initially */
}

.card.rank-1.animated { /* Add a class for the animation */
    animation-play-state: running; /* Start the animation when the class is added */
    transform: scale(1.2);
    filter: brightness(1.2);
}

.card.rank-1.animated.reverse { /* Add a class for the reverse animation */
    animation-name: shine-reverse; /* Use a reverse animation */
    transform: scale(1);
    filter: brightness(1);
}

@keyframes shine-reverse {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* .container {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

} */

.context {
    width: 100%;
    position: fixed;
    top: 10px;
    text-align: center;
    z-index: 99;
    transition: font-size 0.5s ease;
    margin-bottom: 200px;
}

.context h1 {
    color: #fff;
    font-size: 50px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tooltip-container {
    display: inline-block;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.info-button {
    background-color: #4e54c8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Tambahkan margin di atas tombol untuk pemisahan */
}

.join-button {
    background-color: #4e54c8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Tambahkan margin di atas tombol untuk pemisahan */
}

.info-button:hover {
    background-color: #6b70ff;
}

.join-button:hover {
    background-color: #6b70ff;
}

.tooltip-content {
    visibility: hidden;
    width: 250px;
    background-color: #4e54c8;
    color: white;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    top: 110%; /* Posisikan di bawah tombol */
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: visibility 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.tooltip-container:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    .tooltip-content {
        width: 200px;
        font-size: 12px;
    }

    .info-button {
        font-size: 12px;
        padding: 8px 12px;
    }

    .join-button {
        font-size: 12px;
        padding: 8px 12px;
    }
}


.card-container {
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    top: 10vh;
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    flex: 1;
    margin: 5px;
}

.card .rank-1{
    justify-content:center;
}



.card.rank-1 {
    background-color: #FFD700; /* Gold */
    animation: shine 2s infinite linear;
}

.card.rank-2 {
    background-color: #C0C0C0; /* Silver */
    animation: shine 2s infinite linear;
}

.card.rank-3 {
    background-color: #CD7F32; /* Bronze */
    animation: shine 2s infinite linear;
}

.rank-1 {
    order: 2;
    margin: 0 20px;
}

.rank-1 .rank{
    margin-top: 100px; /* Sesuaikan dengan jarak yang diinginkan */
}

.rank-1 .rank,
.rank-2 .rank,
.rank-3 .rank{
    font-size:3em; /* Sesuaikan dengan jarak yang diinginkan */
}

.rank-2 {
    order: 1;
    margin: 0 20px;
}

.rank-2 .rank{
    margin-top: 100px; /* Sesuaikan dengan jarak yang diinginkan */
}

.rank-3 {
    order: 3;
    margin: 0 20px;
}

.rank-3 .rank{
    margin-top: 100px; /* Sesuaikan dengan jarak yang diinginkan */
}

.rank-1, .rank-2, .rank-3 {
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.rank-1.visible:hover, .rank-2.visible:hover, .rank-3.visible:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

/* Atur tinggi untuk kartu peringkat 1 */
.rank-1 {
    height: 50vh; /* Sesuaikan dengan tinggi yang diinginkan */
}

/* Atur tinggi untuk kartu peringkat 2 */
.rank-2 {
    height: 45vh; /* Sesuaikan dengan tinggi yang diinginkan */
}

/* Atur tinggi untuk kartu peringkat 3 */
.rank-3 {
    height: 40vh; /* Sesuaikan dengan tinggi yang diinginkan */
}

.rank-1, .rank-2, .rank-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Urutan elemen */
.rank {
    order: 1; /* Angka Rank di atas */
    font-size: 2em; /* Sesuaikan ukuran font */
    font-weight: bold;
}

.name {
    order: 2; /* Nama di tengah */
    font-size: 1.5em;
    margin-top: 10px; /* Memberi jarak antara angka dan nama */
}

.points {
    order: 3; /* Jumlah Poin di bawah */
    font-size: 1.2em;
    margin-top: 5px; /* Memberi jarak antara nama dan poin */
}

.cymbol_r1{
    width:90px;
    height:90px;
    padding:.5%;
    margin-bottom:50px;
    position: absolute;
    top: -15px; /* Posisi gambar sedikit di atas frame card */
    left: 50%;
    transform: translateX(-50%);
    background-color: inherit; /* Warna background sama dengan card */
    border-radius: 12px; /* Rounded square */
    padding: 5px; /* Tambahkan padding agar gambar tidak langsung bersentuhan dengan tepi background */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Opsional: menambahkan bayangan untuk efek lebih menarik */
}
.cymbol_r2{
    width:80px;
    height:80px;
    padding:.5%;
    margin-bottom:50px;
    position: absolute;
    top: -15px; /* Posisi gambar sedikit di atas frame card */
    left: 50%;
    transform: translateX(-50%);
    background-color: inherit; /* Warna background sama dengan card */
    border-radius: 12px; /* Rounded square */
    padding: 5px; /* Tambahkan padding agar gambar tidak langsung bersentuhan dengan tepi background */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Opsional: menambahkan bayangan untuk efek lebih menarik */
}
.cymbol_r3{
    width:50px;
    height:50px;
    padding:.5%;
    margin-bottom:50px;
    position: absolute;
    top: -15px; /* Posisi gambar sedikit di atas frame card */
    left: 50%;
    transform: translateX(-50%);
    background-color: inherit; /* Warna background sama dengan card */
    border-radius: 12px; /* Rounded square */
    padding: 5px; /* Tambahkan padding agar gambar tidak langsung bersentuhan dengan tepi background */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Opsional: menambahkan bayangan untuk efek lebih menarik */
}

.coin-icon {
    width: 16px; /* Sesuaikan ukuran gambar koin */
    height: auto;
    margin-left: 5px; /* Jarak antara teks poin dan gambar koin */
    vertical-align: middle; /* Menyelaraskan gambar dengan teks poin */
}


@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card .rank {
    font-weight: bold;
    color: #4e54c8;
    flex: 1;
    text-align: center;
}

.card .name {
    flex: 2;
    text-align: center;
}

.card .points {
    flex: 1;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    border-radius: 15px;
}

.card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) { left: 25%; width: 80px; height: 80px; animation-delay: 0s; }
.circles li:nth-child(2) { left: 10%; width: 20px; height: 20px; animation-delay: 2s; animation-duration: 12s; }
.circles li:nth-child(3) { left: 70%; width: 20px; height: 20px; animation-delay: 4s; }
.circles li:nth-child(4) { left: 40%; width: 60px; height: 60px; animation-delay: 0s; animation-duration: 18s; }
.circles li:nth-child(5) { left: 65%; width: 20px; height: 20px; animation-delay: 0s; }
.circles li:nth-child(6) { left: 75%; width: 110px; height: 110px; animation-delay: 3s; }
.circles li:nth-child(7) { left: 35%; width: 150px; height: 150px; animation-delay: 7s; }
.circles li:nth-child(8) { left: 50%; width: 25px; height: 25px; animation-delay: 15s; animation-duration: 45s; }
.circles li:nth-child(9) { left: 20%; width: 15px; height: 15px; animation-delay: 2s; animation-duration: 35s; }
.circles li:nth-child(10) { left: 85%; width: 150px; height: 150px; animation-delay: 0s; animation-duration: 11s; }

@keyframes animate {
    0% { transform: translateY(0) rotate(0deg); opacity: 1; border-radius: 0; }
    100% { transform: translateY(-1000px) rotate(720deg); opacity: 0; border-radius: 50%; }
}



@media (max-width: 768px) {
    .context h1 {
        font-size: 35px;
    }

    .card {
        padding: 10px;
    }

    .card .rank, .card .name, .card .points {
        font-size: 14px;
    }

    .rank-1, .rank-2, .rank-3 {
        margin: 0 10px; /* Mengurangi margin untuk memperkecil jarak antara kolom */
        flex-direction: column; /* Memindahkan angka rank ke atas nama */
    }
}

/* CSS untuk Ikon Home */
.home-icon {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 999;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.home-icon i {
    width: 24px;
    height: 24px;
}

/* Responsif untuk layar HP */
@media (max-width: 768px) {
    .home-icon {
        top: 10px;
        left: 10px;
        padding: 8px;
    }

    .home-icon i {
        width: 20px;
        height: 20px;
    }
}


@media (max-width: 480px) {
    .context h1 {
        font-size: 28px;
    }

    .card-container {
        width: 95%;
    }

    .card .rank, .card .name, .card .points {
        font-size: 12px;
    }
    .rank-1 .rank,
    .rank-2 .rank{
        font-size:2em; /* Sesuaikan dengan jarak yang diinginkan */
        margin-top: 70px;
    }
    .rank-3 .rank{
        font-size:2em; /* Sesuaikan dengan jarak yang diinginkan */
        margin-top: 60px;
    }
    /* Atur tinggi untuk kartu peringkat 1 */
    .rank-1 {
        height: 40vh; /* Sesuaikan dengan tinggi yang diinginkan */
    }

    /* Atur tinggi untuk kartu peringkat 2 */
    .rank-2 {
        height: 35vh; /* Sesuaikan dengan tinggi yang diinginkan */
    }
    .rank-3 {
        height: 30vh; /* Sesuaikan dengan tinggi yang diinginkan */
    }


    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

@keyframes load {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
